body {
	margin: auto;
	max-width: 60em;
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: linear-gradient(90deg, #00051d, #4e0037);
}

.header {
	width: 12em;
	text-align: center;
	border-radius: 1em;
    font-size: 0.7em;
    font-weight: bold;
    color: rgb(218, 218, 218);
	background: rgba(0, 0, 0, 0.05);
	padding: .3em 0.3em;
}


.content {
	font-size: 1em;
	color: #000000;
	background: rgba(189, 189, 189, 0.40);
	padding: .5em 1em;
	border: .3em solid #141414;
	border-radius: .5em;
	min-height: 85vh;
}

label {
    color: white;
    font-weight: bold;
}

input[type="text"] {
	width: 450px;
	height: 40px;
	color: white;
	display: block;
	margin: 0 auto;
	background: transparent;
	text-align: center;
	border: .2em solid whitesmoke;
	border-radius: .5em;
}

button {
	color: white;
	display: block;
	margin: 0 auto;
	background: transparent;
	text-align: center;
	border: .1em solid linear-gradient(90deg, #001885, #007a5c);
	border-radius: .5em;
}

input[type="radio"]:checked {
    accent-color: rgb(3, 3, 46);
}